# Default ignored files
/../../blueinkhouse_project /.idea/shelf/
/../../blueinkhouse_project /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../blueinkhouse_project /.idea/httpRequests/
